:root{
    --main-color:RGB(0, 120, 255);
    --color-section:#f5f5f5;
}
::selection{
    background-color: var(--main-color);
}
ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

html{
    scroll-padding-top:63px;
}



.fixed-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 9999999999999999;
    position:fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.navbar .nav-item .nav-link{
    color: white;
    margin-left: 20px;
    font-size: 1rem;
    position: relative;
}
.navbar .nav-item .nav-link::after{
    position: absolute;
    content: "";
    left:15%;
    width: 0%;
    height: 2px;
    bottom: 2px;;
    background-color: white;
    transition: 0.3s;
    
}
.active::before{
    position: absolute;
    content: "";
    left:15%;
    width: 60%;
    height: 2px;
    bottom: 2px;;
    background-color: white;
    /* transition: 0.3s; */
}
.navbar .nav-item .nav-link:hover::after{
    width: 60%;
}

.navbar-brand h4{ 
    color: white;
}


/* active  */
/* body:has(.Home:target).home-links,
body:has(.About:target).about-links
{   
    color: aqua;
    font-weight: 800;
}


body:has(.Home:target).navbar .nav-item .nav-link .home-links::after{
    position: absolute;
    width: 100%;
} */







header{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
header h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header p::after{
    font-size: 30px;
    font-weight: 600;
    content: "";
    animation: move 5s infinite;


}

@keyframes move{
0%{ content: "D|";}
2.9%{ content: "De|";}
5.8%{ content: "Des|";}
8.7%{ content: "Desi|";}
11.6%{ content: "Desig|";}
14.5%{ content: "Design|";}
17.4%{ content: "Designe|";}
20.3%{ content: "Designer|";}
23.2%{ content: "Designe|";}
26.1%{ content: "Design|";}
29%{ content: "Desig|";}
31.9%{ content: "Desi|";}
34.8%{ content: "Des|";}
37.7%{ content: "De|";}
40.6%{ content: "D|";}
43.5%{ content: "|";}
46.4%{ content: "D|";}
49.3%{ content: "De|";}
51%{ content: "Dev|";}
53%{ content: "Deve|";}
56%{ content: "Devel|";}
59%{ content: "Develo|";}
62%{ content: "Develop|";}
64%{ content: "Develope|";}
69%{ content: "Developer|";}
73%{ content: "Develope|";}
76%{ content: "Develop|";}
80%{ content: "Develo|";}
84%{ content: "Devel|";}
87%{ content: "Deve|";}
90%{ content: "Dev|";}
94%{ content: "De|";}
98%{ content: "D|";}
100%{ content: "|";}

}







.about .about-img img{
    width: 120px;
    height: 120px;
}
.about-inf span{
    font-weight: bold;
    font-size: 14.6px;
    font-weight: 600;
    color: #1E1E1E;    
}
.about .about-inf li{
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #4E4E4E;
}  
.prgress-item{
    margin-bottom: 10px;
}
.prgress-item .progress{
    height: 5px;
} 

.about-text h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 20%;
    height: 3px;
    background-color: var(--main-color);


}
.about-text p{
    color: #4E4E4E;
    font-weight: 500;
}

/* end about  */


.main-titel p{
    font-size: 1rem;
    font-weight: 400;
    color: #4E4E4E;
    position: relative;

}
.main-titel p::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 50px;
    height: 3px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

}

.services .icon{
    width:90px ;
    height: 90px;
    border: 8px solid var(--main-color);
    margin: 10px 0px;
    /* transform: translate(140%); */
    transition: .5s;

}
.services .icon i{
    
    font-size: 32px;
}


.services-content h3{
    font-size: 18px;
    text-transform: uppercase;

}

.service-item:hover>.icon{
    background-color: var(--main-color);
    color: white;
    border: 8px solid rgb(201, 222, 242);
}

.member{
    background-image: url(../img/post-3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    max-height: 200vh;
    position: relative;
}
 .member::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:rgba(0, 120, 255,50%)

} 
.member-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.member-icon{
    width: 65px;
    height: 65px;
    /* background-color: white; */
    border-radius: 50%;
    border: 8px solid rgb(201, 222, 242);
    margin-bottom: 20px;
}

/* end services  */

.portfolio-date{
    font-size: 12px;
}
.portfolio-date span{
    color: blue;
    font-size: 12px;
}

.portfolio-item img{
    transition:.5s;
}
.porrfolio-photo img:hover{
    transform:scale(1.3);
}
.porto-icon{
    font-size: 35px;
}






.slide{
    background-image: linear-gradient(#0077ff94,#0077ff94),url(../img/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.client-img{
    width: 120px;
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius:100%;
}

/* هواا ده سبب الخط الي كان بيظهر ههههه */
/* .active::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 0%;
    height: 0px;
    bottom: 0px;
    background-color:;
    transition: 0.3s;
} */

/* end carsol */







.card-text-blog{
    font-size: 12px;
}

.blog-privet img{
    width: 40px;
}
.blog-poto a{
 color: black;
 font-size: 12px;
}
.blog-date span{
    font-size: 12px;
}

.text-layer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    padding: 2px 8px;
    color: white;
    font-size: 12px;
    background-color: var(--main-color);



}


@media all and (min-width:0px) and (max-width:600px){
   
 .text-layer{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%);
    padding: 2px 8px;
    color: white;
    font-size: 12px;
    background-color:var(--main-color);
 }

}

@media all and (min-width:601px) and (max-width:768px)
{

    .text-layer{
        position: absolute;
        left: 50%;
        top: 61%;
        transform: translate(-50%);
        padding: 2px 8px;
        color: white;
        font-size: 12px;
        background-color:var(--main-color);
     }
}

@media all and (min-width:769px) and (max-width:991px)
{
    .text-layer{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);
        padding: 2px 8px;
        color: white;
        font-size: 12px;
        background-color:var(--main-color);
     }
}
@media all and (min-width:992px) and (max-width:1200px)
{
    .text-layer{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%);
        padding: 2px 8px;
        color: white;
        font-size: 12px;
        background-color:var(--main-color);
     }
}
/* end blog  */

/* .contact{
    
        background-image:linear-gradient(#0077ff94,#0077ff94), url('../img/overlay-bg.jpg');
        background-position: center;
        background-size: cover;
        /* margin: auto; */
        /* padding-block: var(--sections-padding-block);
        background-attachment: fixed; */
        /* height: 100vh; */

.contact{
    background-image: url(../img/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 1000px;
    /* background-image:linear-gradient(#0077ff94,#0077ff94)} */
}
.text-contect::after{
    content: "";
    position: absolute;
    left: 0px;
    /* bottom: 0px; */
    top: 65%;
    width: 10%;
    height: 2px;
    background-color: var(--main-color);
}
.supmit input{
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 5px 15px;
    transition: .5s;
}
.supmit input:hover{
    background-color: #18335194;

}
.contact-content li i{
    font-size: 14px;
    color: var(--main-color);
}
.contact-content li span{
    margin-left: 3px;
    font-size: 14px;
}
.icon-item{
    width: 40px;
    height: 40px;
    background-color: white;
border:solid 2px var(--main-color) ;
margin-left: 10px;

}

footer{
    background-color: var(--main-color);
}

footer p{
    font-size: 15px;
}
footer span{
    font-size: 15px;
    
}
